# Copyright (c) 2025 Clickety Split Ltd.
# SPDX-License-Identifier: MIT

config BOARD_ENABLE_DCDC
    bool "Enable DCDC Converter"
    select SOC_DCDC_NRF52X
    default y
    depends on (BOARD_CLICKETY_SPLIT_CHIISAI)

#
# NOTE: This section is not compatible with BC840M,
#       nor the uBlox NINA-B306
#
# config BOARD_ENABLE_DCDC_HV
#     bool "Enable High-Voltage DCDC Converter"
#     select SOC_DCDC_NRF52X_HV
#     default y
#     depends on (BOARD_CLICKETY_SPLIT_CHIISAI)
